<div>
  <p>{{courses.length}} courses</p>
  <table border="1">
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of courses">
      <td (click)="onSelectCourse(rec)">{{rec.course_id}}</td>
      <td><form (submit)="onEditName(rec, inputElement.value)"><input #inputElement [value]="rec.course_name" size="60" /></form></td>
      <td><button (click)="onDeleteCourse(rec)">delete</button></td>
    </tr>
  </table>
  <p>
    <button (click)="onNewCourse(newCourseName)">New</button>
    <input [(ngModel)]="newCourseName" placeholder="new course name" size="60"/>
  </p>
  <p *ngIf="errorMessage">{{errorMessage}}</p>
</div>
