<div>
  <p>{{courses.length}} courses</p>
  <table border="1">
    <tr>
      <th>Course Identifier</th>
      <th>Course Name</th>
    </tr>
    <tr *ngFor="let rec of courses">
      <td (click)="onSelectCourse(rec)">{{rec.course_ident}}</td>
      <td><input [(ngModel)]="rec.course_name" placeholder="{{rec.course_name}}" size="60" /></td>
    </tr>
  </table>
  <p>
    <button (click)="onNewCourse()">New</button>
    <input [(ngModel)]="newCourseName" placeholder="new course name" size="60"/>
  </p>
</div>
