<div>
  <p>{{courses.length}} courses</p>
  <table border="1">
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of courses">
      <td
	[class.highlight]="rec.courseId == currentCourseId"
	(click)="onSelectCourse(rec)">{{rec.courseId}}</td>
      <td>
	<form (submit)="onEditName(rec, inputElement.value)">
	  <input #inputElement [value]="rec.courseName" size="60" />
	</form>
      </td>
      <td>
	<button (click)="onDeleteCourse(rec)">delete</button>
      </td>
    </tr>
  </table>
  <form>
    <button (click)="onNewCourse(newCourseName.value)">New</button>
    <input #newCourseName placeholder="name" size="60"/>
  </form>
</div>
