<div *ngIf="isVisible()">
  <p>{{offerings.length}} Offerings of "{{courseName}}"</p>
  <table border="1">
    <tr>
      <th>Offering ID</th>
      <th>Number of Classes</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of offerings">
      <td (click)="onSelect(rec)">{{rec.offering_id}}</td>
      <td (click)="onSelect(rec)">{{rec.num_classes}}</td>
      <td><button (click)="onDeleteOffering(rec)">delete</button></td>
    </tr>
  </table>
  <p>
    <button (click)="onNewOffering()">New</button>
  </p>
  <p *ngIf="errorMessage">{{errorMessage}}</p>
</div>
