<div *ngIf="isVisible()">
  <p>{{offerings.length}} Offerings of "{{courseName}}"</p>
  <table border="1">
    <tr>
      <th>Offering ID</th>
      <th>Start Date</th>
    </tr>
    <tr *ngFor="let rec of offerings">
      <td (click)="onSelect(rec)">{{rec.offering_id}}</td>
      <td (click)="onSelect(rec)">{{rec.start_date}}</td>
    </tr>
  </table>
  <p>
    <button (click)="onNewOffering(newOfferingStartDate, newOfferingStartTime)">New</button>
    <input [(ngModel)]="newOfferingStartDate" placeholder="new offering start date (YYYY-MM-DD)" size="30"/>
    <input [(ngModel)]="newOfferingStartTime" placeholder="new offering start time (HH:MM)" size="30"/>
  </p>
  <p *ngIf="errorMessage">{{errorMessage}}</p>
</div>
