<div *ngIf="isVisible()">
  <p>{{offerings.length}} Offerings of "{{currentCourseName}}"</p>
  <table border="1">
    <tr>
      <th>Offering ID</th>
      <th>Number of Classes</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of offerings">
      <td
	[class.highlight]="rec.offeringId == currentOfferingId"
	(click)="onSelect(rec)">{{rec.offeringId}}</td>
      <td (click)="onSelect(rec)">{{rec.numClasses}}</td>
      <td>
	<button (click)="onDeleteOffering(rec)">delete</button>
      </td>
    </tr>
  </table>
  <p>
    <button (click)="onNewOffering()">New</button>
  </p>
</div>
