<div *ngIf="isVisible()">
  <p>{{classes.length}} Classes for Offering {{offeringId}} of "{{courseName}}"</p>
  <table border="1">
    <tr>
      <th>Class ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of classes">
      <td (click)="onSelect(rec)">{{rec.class_id}}</td>
      <td>{{rec.class_date}}</td>
      <td>{{rec.class_time}}</td>
      <td><button (click)="onDeleteClass(rec)">delete</button></td>
    </tr>
  </table>
  <p>
    <button (click)="onNewClass(newClassDate, newClassTime)">New</button>
    <input [(ngModel)]="newClassDate" placeholder="new class start date (YYYY-MM-DD)" size="30"/>
    <input [(ngModel)]="newClassTime" placeholder="new class start time (HH:MM)" size="30"/>
  </p>
  <p *ngIf="errorMessage">{{errorMessage}}</p>
</div>
