<div *ngIf="isVisible()">
  <p>{{classes.length}} Classes for Offering {{currentOfferingId}} of "{{currentCourseName}}"</p>
  <table border="1">
    <tr>
      <th>Class ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let rec of classes">
      <td (click)="onSelect(rec)">{{rec.class_id}}</td>
      <td>{{rec.class_date}}</td>
      <td>{{rec.class_time}}</td>
      <td><button (click)="onDeleteClass(rec)">delete</button></td>
    </tr>
  </table>
  <form>
    <button (click)="onNewClass(newClassDate.value, newClassTime.value)">New</button>
    <input #newClassDate placeholder="YYYY-MM-DD" size="15"/>
    <input #newClassTime placeholder="HH:MM" size="10"/>
  </form>
</div>
